@model IEnumerable<IT3047Final.Models.Trail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.trailName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.parkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trailRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.trailName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.parkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trailRating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
