@model IEnumerable<IT3047Final.Models.Trail>

@{
    ViewData["Title"] = "Index";
}

<h1>Trails</h1>

<p>
    <a asp-action="Create">Add Trail</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.trailName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.parkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trailRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.trailName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.parkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trailRating)
            </td>
        </tr>
}
    </tbody>
</table>
